<div class="row">
  <div class="col-6">
    <div class="row" style="margin-bottom: 20px;">
      <h5 class="card-title" style="font-size: 20px;">디바이스 정보</h5>
    </div>
    <div class="card flex-fill w-100" style="overflow: hidden;">
      <div class="row row-info">
        <div class="col-6">
          <p class="info_type">시리얼 번호</p>
          <div class="input_wrap">
            <input class="info_input" type="text" placeholder="AS001000"
            value="<%=device_id%>" disabled>
          </div>

        </div>
        <div class="col-6">
          <p class="info_type">장치이름</p>
          <div class="input_wrap">
            <input class="info_input" type="text" placeholder="안방">
          </div>

        </div>
      </div>
      <div class="row row-info" style="border-bottom: 1px solid #eaeaea;">
        <div class="col-6">
          <p class="info_type">장치타입</p>
          <div class="input_wrap">
            <input class="info_input" type="text" placeholder="Device Type" disabled>
          </div>

        </div>
        <div class="col-6">
          <p class="info_type">공개여부</p>
          <div class="input_wrap">
            <input class="info_input" type="text" placeholder="Y">
          </div>
        </div>

      </div>
      <div class="row row-info" style="border-bottom: 1px solid #eaeaea;">
        <div class="col-6">
          <p class="info_type">장치현황</p>
          <div class="input_wrap">
            <input class="info_input" type="text" placeholder="null">
          </div>
        </div>
        <div class="col-6">
          <p class="info_type">위치</p>
          <div class="input_wrap">
            <input class="info_input" type="text" placeholder="37.054255, 127.151678">
          </div>

        </div>
      </div>



    </div>
  </div>
  <div class="col-6">
    <div class="row" style="margin-bottom: 20px;">
      <h5 class="card-title" style="font-size: 20px;">센서리스트</h5>
    </div>
    <div class="row" style="">
      <div class="col-12 d-flex flex-wrap">

        <div id="temp" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">Temperature</div>
            <div class="card-header-text-right">℃</div>
          </div>
          <div class="card-body text-right">
            <h1 id="TEMPval">25.2</h1>
          </div>
        </div>
        <div id="hum" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">Humidity</div>
            <div class="card-header-text-right">%RH</div>
          </div>
          <div class="card-body text-right">
            <h1 id="HUMIDval">47.1</h1>
          </div>
        </div>

        <div id="pm10" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">PM 10</div>
            <div class="card-header-text-right">ug/m<sup>3</sup></div>
          </div>
          <div class="card-body text-right">
            <h1 id="PM10Pval">37.2</h1>
          </div>
        </div>

        <div id="pm25" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">PM 2.5</div>
            <div class="card-header-text-right">ug/m<sup>3</sup></div>
          </div>
          <div class="card-body text-right">
            <h1 id="PM2P5val">16.58</h1>
          </div>
        </div>

        <div id="pm1" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">PM 1.0</div>
            <div class="card-header-text-right">ug/m<sup>3</sup></div>
          </div>
          <div class="card-body text-right">
            <h1 id="PM1P0val">38.7</h1>
          </div>
        </div>

        <div id="pm05" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">PM 0.5</div>
            <div class="card-header-text-right">ug/m<sup>3</sup></div>
          </div>
          <div class="card-body text-right">
            <h1 id="PM0P5val">10.6</h1>
          </div>
        </div>

        <div id="pm03" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">PM 0.3</div>
            <div class="card-header-text-right">ug/m<sup>3</sup></div>
          </div>
          <div class="card-body text-right">
            <h1 id="PM0P3val">8.24</h1>
          </div>
        </div>

        <div id="tvoc" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">TVOC</div>
            <div class="card-header-text-right">℃</div>
          </div>
          <div class="card-body text-right">
            <h1 id="TVOCval">0.62</h1>
          </div>
        </div>

        <div id="co" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">CO</div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="COval">0.2</h1>
          </div>
        </div>

        <div id="co2" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">CO<sub>2</sub></div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="CO2val">1239.48</h1>
          </div>
        </div>

        <div id="o3" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">O<sub>3</sub></div>
            <div class="card-header-text-right">mg/m<sup>3</sup></div>
          </div>
          <div class="card-body text-right">
            <h1 id="O3val">0.012</h1>
          </div>
        </div>

        <div id="h2" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">H<sub>2</sub></div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="H2val">0</h1>
          </div>
        </div>

        <div id="ch4" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">CH<sub>4</sub></div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="CH4val">0</h1>
          </div>
        </div>

        <div id="nh3" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">NH<sub>3</sub></div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="NH3val">11.09</h1>
          </div>
        </div>

        <div id="ch2o" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">CH<sub>2</sub>O</div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="CH2Oval">45.82</h1>
          </div>
        </div>

        <div id="c3h8" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">C<sub>3</sub>H<sub>8</sub></div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="C3H8val">0</h1>
          </div>
        </div>

        <div id="h2s" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">H<sub>2</sub>S</div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="H2Sval">0</h1>
          </div>
        </div>

        <div id="no2" class="sensor_list card" hidden>
          <div class="card-header">
            <div class="card-header-text-left">NO<sub>2</sub></div>
            <div class="card-header-text-right">ppm</div>
          </div>
          <div class="card-body text-right">
            <h1 id="NO2val">1.2</h1>
          </div>
        </div>




      </div>


    </div>
  </div>
</div>
<div class="row btn_row">
  <button class="btn_admin btn_check">확인</button>
  <button class="btn_admin btn_modify">수정</button>
  <button class="btn_admin btn_delete">삭제</button>
</div>