<!DOCTYPE html>
<html>
  <head>
    <%-include('./admin/common/admin_head')%>
  </head>
  <body>
    <div class="wrapper">
      <%-include('./admin/common/admin_sidebar')%>
      <%-include('./admin/admin_main_index')%>
    </div>
    <%-include('./admin/common/admin_scripts')%>
  </body>
</html>