<!DOCTYPE html>
<html>
  <head>
    <%-include('./client/common/client_head')%>
  </head>
  <body>
    <div class="wrapper">
      <%-include('./client/common/client_sidebar')%>
      <%-include('./client/client_main_index')%>
    </div>
    <%-include('./client/common/client_scripts')%>
  </body>
</html>