<div class="main">
  <%-include('./common/client_nav_main')%>
  <main class="content">
    <%-include('./statistics/client_content_analytics_nav')%>
    <%-include('./statistics/client_content_analytics_mm')%>
  </main>
    <%-include('./common/client_footer')%>
</div>