<div class="main">
  <%-include('./common/admin_nav_main')%>
  <main class="content">
    <%-include('./index/admin_content_index_nav')%>
    <%-include('./index/admin_content_index_home')%>
  </main>
</div>