<div class="main">
  <%-include('./common/admin_nav_main')%>
  <main class="content">
    <%-include('./statistics/admin_content_statistics_nav')%>
    <%-include('./statistics/admin_content_statistics_home')%>
  </main>
</div>