<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <div class="chart">
          <canvas id="overlay" style="position:absolute;pointer-events:none;"></canvas>
          <canvas id="chart-mm"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>