<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col-6">
            모든 디바이스
          </div>
          <div id="btnContainer" class="col-6">

          </div>
        </div>
      </div>
      <div class="card-body">
        <table id="example" class="display" style="width: 100%;"></table>
      </div>
    </div>
  </div>
</div>